<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.moviecatalogue2">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK"/>


    <permission
        android:name="com.example.moviecatalogue2.WRITE_DATABASE"
        android:label="Write Database"
        android:exported="true"
        android:protectionLevel="normal" />

    <permission
        android:name="com.example.moviecatalogue2.READ_DATABASE"
        android:label="Read Database"
        android:exported="true"
        android:protectionLevel="normal" />


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <receiver android:name=".widget.ImageBannerWidget">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="com.example.moviecatalogue2.UPDATE_WIDGET"/>
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/image_banned_widget_info" />
        </receiver>

        <activity android:name=".Detail.DetailMovieActivity" />
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".Setting.Setting"
            android:parentActivityName=".MainActivity">
        </activity>

        <provider
            android:name=".Database.MovieProvider"
            android:authorities="com.example.moviecatalogue2"
            android:exported="true"
            android:enabled="true"
            android:readPermission="com.example.moviecatalogue2.READ_DATABASE"
            android:writePermission="com.example.moviecatalogue2.WRITE_DATABASE" />

        <service
            android:name="com.example.moviecatalogue2.widget.StackWidgetService"
            android:enabled="true"
            android:exported="true"
            android:permission="android.permission.BIND_REMOTEVIEWS" />

        <receiver
            android:name=".Reminder.MovieDailyReminder"
            android:enabled="true"
            android:exported="true" />

        <receiver android:name=".Reminder.MovieComingSoonReminder"
            android:enabled="true"
            android:exported="true"/>

    </application>

</manifest>